@mixin ob-full-class ($url_path, $file_name, $min_height: 50rem){
  .ob-full-#{$file_name} {
    min-height: $min_height;
    overflow:hidden;
    height: auto;
    background: url(#{$url_path}#{$file_name}.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
  

@mixin team($url_path, $name, $members...){
  @each $member in $members{
    .#{$name}.#{$member}{
      background:url(#{$url_path}#{$name}/#{$member}.jpg);
    }
  }
}  