
/* General
================================ */


/* Typography
================================ */


h1{
  font: 400 2.1325rem 'Bree Serif', Georgia, serif;
}
 
 li{
  font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
 }

.uppercase{
  text-transform: uppercase;
}

/* Logo
================================ */
.header-main{
  position: relative;
  z-index: 99999999;
}

h1.nameBanner{
  color:white;
  display:inline-block;
  background: rgba(0,0,0,0.4);
  letter-spacing:0.0625em;
  position: absolute;
  top: 1.25rem;
  padding: 0.625rem 1.25rem;
}

.nameBanner a{
  color:white;
}

/* Layout
================================ */



/* Orbit
================================ */

.full-bg-img{
  min-height: 50rem;
  overflow:hidden;
  height: auto;

}

.main_slide_img_1{
  background: url("../assets/img/main/Rob_Fan6.jpg") no-repeat center center fixed;
  background-size:cover;
}
.main_slide_img_2{
  background: url("../assets/img/main/Rob_Fan2.jpg") no-repeat center center fixed;
  background-size:cover;
}

.orbit-container{
  height:90%;
}

.orbit-bullets{
  display:none;
}

  
/* Images
================================ */

  
/* Nav
================================ */

.side-nav{
  position: absolute;
  top:100px;
  left:1.25rem;;
  z-index: 999999;
}

.side-nav li a:not(.button){
  color:white;
  font-size: 1.3125rem;
}

.divider{
  width: 20%;
}

/* Media Queries
================================ */

/*// Small screens*/


@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/*// Medium screens*/
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/*// Large screens*/
@media only screen and (min-width: 64.063em) { 




} 

/*// XLarge screens*/
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

/*// XXLarge screens*/
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */






